[submodule "Carousel-customElement"]
	path = Carousel-customElement
	url = https://github.com/edoardohorse/Carousel-customElement
[submodule "Img-customElement"]
	path = Img-customElement
	url = https://github.com/edoardohorse/Img-customElement
[submodule "Placeholder-customElement"]
	path = Placeholder-customElement
	url = https://github.com/edoardohorse/Placeholder-customElement
